doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title top
    link(rel="stylesheet", href="/assets/css/main.css")
    link(rel="stylesheet", href="/assets/css/top/style.css")
  body.top
    p Welcome, this is webpack app
    a(href="/about") >about page
    img.lg-only(src='/assets/images/lg/sushi.png')
    img.sm-only(src='/assets/images/sm/sushi_empty.png')
    script(src="/assets/js/main.js")