@media screen and (min-width: 769px) {
  body {
    background-color: antiquewhite;
    p {
      color: olivedrab;
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color: olivedrab;
    p {
      color: antiquewhite;
    }
  }
}
